body {
	background-color: #f6f2d4;
}

#service,
#contact,
#footer {
	color: #333;
}

.bg-angracana {
	background-color: #22577e;
} 

/* navigation */
nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-angracana {
 padding: 5px;
}

.navbar-dark .navbar-brand {
	font-size: 1,5em;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255,255,255,1);
}

/* Jumbotron */
.jumbotron {
	background: linear-gradient(rgba(4,9,30,.3), rgba(4,9,30,.1)),
							url("../img/1.jpg"), no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
}

/* Service */
.btn-secondary {
	background-color: transparent;
	    color: #22577e;
    border-color: #22577e;
}

.btn-secondary:hover {
  background-color: #22577e;
  border-color: #22577e;
}

/* Contact */
#contact {
	background: url("../img/2.jpg"), no-repeat;
	background-position: center;
	background-size: cover;
}

#btn-contact {
	color: #fff;
}

